<ion-header>
  <ion-toolbar>
    <ion-title>{{ favorito ? 'Editar Favorito' : 'Nuevo Favorito' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="favoritoForm">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-select formControlName="id_usuario" [interface]="'popover'" placeholder="Selecciona un usuario">
        <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Artista</ion-label>
      <ion-select formControlName="id_artista" [interface]="'popover'" placeholder="Selecciona un artista">
        <ion-select-option *ngFor="let artista of artistas" [value]="artista.id">{{ artista.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Favorito</ion-label>
      <ion-toggle formControlName="favorito"></ion-toggle>
    </ion-item>

    <ion-button expand="block" (click)="saveFavorito()" [disabled]="favoritoForm.invalid">
      Guardar
    </ion-button>
  </form>
</ion-content>
