<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addFavorito()">
        <ion-icon name="add-circle-outline"></ion-icon>
        Añadir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let favorito of favoritos">
      <ion-label>{{ favorito.nombre_usuario }}</ion-label>
      <ion-label>{{ favorito.nombre_arista }}</ion-label>
      <ion-label>{{ favorito.favorito ? 'Sí' : 'No' }}</ion-label>
      <ion-buttons slot="end">
        <ion-button size="small" (click)="editFavorito(favorito)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" (click)="deleteFavorito(favorito.id.idUsuario, favorito.id.idLugar)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>