<!-- artista-form.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ artista ? 'Editar Artista' : 'Nuevo Artista' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="artistaForm">
    <ion-item>
      <ion-label position="stacked">nombre</ion-label>
      <ion-input type="name" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">edad</ion-label>
      <ion-input type="number" formControlName="edad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">generoMusical</ion-label>
      <ion-input type="name" formControlName="generoMusical"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Usuarios</ion-label>
      <ion-select formControlName="usuarios" multiple="true" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option *ngFor="let usuario of usuariosDisponibles" [value]="usuario">
          {{ usuario.nombreUsuario }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="saveArtista()" [disabled]="artistaForm.invalid">
      Guardar
    </ion-button>
  </form>
</ion-content>
